.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: linear-gradient(0deg, rgba(0,30,144,1) 0%, rgba(54,54,230,1) 35%, rgba(0,212,255,1) 100%);
}

img {
    width: 100%;
    height: 7rem;
    margin-top: 1.5rem;
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: linear-gradient(0deg, rgba(0,30,144,1) 0%, rgba(54,54,230,1) 35%, rgba(0,212,255,1) 100%);
}